.hikesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch; /* Растягиваем карточки по высоте */
}

.hikeItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filtersContainer {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.filtersContainer span {
  display: block;
  font-weight: 700;
}

.datePickName {
  display: block;
  margin-bottom: 1rem;
}

.falseLoad {
  grid-column: span 3;
  width: 100%;
  text-align: center;
}

.pickerButton {
  border-radius: 0.2rem;
  border: 1px solid lightgrey;
  height: 100%;
  padding: 4px 11px 4px;
  font-size: 14px;
  transition: 0.3s ease;
}

.pickerButton:hover {
  border: 1px solid var(--primary-green);
  color: white;
  background-color: var(--primary-green);
  transition: 0.3s ease;
}

.sortedContainer {
  display: flex;
}

@media screen and (max-width: 1020px) {
  .hikesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 810px) {
  .hikesList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 660px) {
  .filtersContainer {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sortedContainer {
    margin-top: 1rem;
  }
}
