.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.headerMenuContainer {
  display: flex;
  align-items: center;
}

.headerMenuContainer li {
  cursor: pointer;
  padding-left: 0.5rem;
}
